@font-face {
  font-family: "Adwaita Sans";
  src: url("AdwaitaSans.ttf");
}

* {
  color: black;
  font-family: "Adwaita Sans", "Inter", sans-serif;
  text-align: left;

  transition: 200ms ease;
}

body {
  background-color: #ffe7ff;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

body .card {
  width: 100%;
}

body > * {
  max-width: 25%;
}

a {
  text-decoration: none;
}

.row.wide a {
  flex: 1;
}

button {
  border: none;
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;

  padding: 1rem;

  width: 100%;
}

button:hover, button:focus {
  background-color: #ffe7ff;
  
  outline: none;
}

img {
  border-radius: 10px;
}

img[src="pfp.jpg"] {
  height: 7rem;
}

svg {
  fill: black;
}

svg#codeberg {
  filter: invert();
}

.column, .row {
  display: flex;
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.row#social-links {
  width: 100%;
}

.card {
  background-color: white;

  border-radius: 20px;

  padding: 2rem;
}

.card.hero {
  width: 100%;
}

.list-item {
  align-items: start;
}

#hero-main {
  height: 9rem;
}

.column.text-left {
  align-items: start;
  gap: 0;
}

.column.text-left > * {
  margin: 0.5rem;
}

.wide {
  width: 100%;
}

@media screen and (max-width: 600px) {
  * {
    text-align: center;
  }
  
  body > * {
    max-width: calc(100% - 5rem);
  }

  .row, .column {
    flex-wrap: wrap;
  }

  #hero-main {
    height: initial;
  }

  .list-item, .column.text-left {
    align-items: center;
  }
}